
.gridimg {
    width: 607.5px;
    height: 358.5px;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(6, 11, 75);
  }
  .img1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img2 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .img3 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .img4 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 607.5px 1fr;
    grid-template-rows: 358.5px 1fr;
    grid-gap: 0px;
    position: relative;
    border: 5px solid rgb(85 90 147);
    transform: scale(0.8,0.8);
    bottom: 60px;
    }

.guess-word{
  cursor: pointer;
  color: #cfd4df;
  padding: 11px 0;
  width: 100%;
  background: #262836;
  
}

.guess-word:hover{
  background: #3d4155;
  transition: 0.3s;
}

.guess-word span{
  border: 1px solid #c0c7d6;
  padding: 3px 10px;
  border-radius: 6px;
}

.lista{
  background-color: #262836;
  max-height: 200px;
  width: 200px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  left: 50px;
  bottom: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  display: block;
  background: #212841;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 200px;
  height: 20px;
  outline: none;
  color: #d6d6d6;
}


.answers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 380px;
  margin-top: 1vh;
}

.guess-button, .hint-button{
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
}

.guess-button:hover, .hint-button:hover{
  filter: brightness(70%);
}

.wrapper{
  width: 1150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px auto;
  height: auto;
  background-color: #373a4e;
  height: 750px;
  border: 3px solid rgb(66, 73, 97);
  border-radius: 15px;
}

.answers-list{
  display: flex;
  flex-direction: column;
  max-height: 120px;
}

.btn403 {
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  padding: 13px 60px;
  font-size: 16px;
  transition: 0.3s;
}

.btn403:hover {
  background: #5d33e6;
  text-decoration: none;
}

.msg403{
  color: #dfdeee;
}

.hint{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 30px;
}

.hint-text{
  color:#a29bfe;
  position: relative;
  bottom: 13px;
  padding: 4px 15px;
  border-radius: 9px;
}