.select-play{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    margin: 7.5% auto 0 auto;
}

.select-play2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    margin: 6% auto 0 auto;
}

.select-play .games .btn403{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.select-play2 .games .btn403{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.backButton{
    display: flex;
    margin: 0 auto;
    margin-top: 35px;
    transition: 0.3s;
    cursor: pointer;
}

.backButton:hover{
    filter: brightness(70%);
}