.container-shop{
    border: 3px solid rgb(73, 81, 109);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 1000px;
    height: 1980px;
    margin-top: 3%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-avatar{
    border: 2px solid rgb(94, 113, 182);
    border-radius: 10px;
    text-align: center;
    margin-top: 25px;
    width: 250px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.shopPfpImg{
    width: 200px;
}

.container-images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.buy-btn {
    background: #7f5feb;
    color: #dfdeee;
    display: flex;
    margin: 0 auto;
    border-radius: 6px;
    padding: 9px 35px;
    font-size: 16px;
    transition: 0.3s;
    align-items: center;
  }
  
.buy-btn:hover {
    background: #5d33e6;
    cursor: pointer;
  }

.container-text-buy{
    display: flex;
    flex-direction: column;
}

.price-text{
    color: #d0d5df;
    margin-right: 6px;
}

.buy-btn-already{
    background: #4c27c4;
    color: #dfdeee;
    display: flex;
    margin: 0 auto;
    border-radius: 6px;
    padding: 9px 35px;
    font-size: 16px;
    transition: 0.3s;
    align-items: center;
    pointer-events: none;
}

.container-background{
    border: 2px solid rgb(94, 113, 182);
    border-radius: 10px;
    text-align: center;
    margin-top: 25px;
    width: 240px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

.text-shop{
    color: rgb(29, 170, 206);
    margin-bottom: -80px;
}