.gradient1{
    color:#cfd4df;
    font-size: 1rem;
	background: linear-gradient(-45deg, #ee9052, #e73c7e, #23a6d5, #23d5ab);
	background-size: 200% 200%;
	animation: gradient1 6s ease infinite;
	cursor: pointer;
}

.gradient1 .ant-table-cell-row-hover{
	background-color: #23a6d5 !important;
}

.gradient2{
    color:#cfd4df;
    font-size: 1rem;
	background: linear-gradient(-45deg, #16a085, #8e44ad, #e67e22, #e74c3c);
	background-size: 200% 200%;
	animation: gradient1 6s ease infinite;
	cursor: pointer;
}

.gradient2 .ant-table-cell-row-hover{
	background-color: #8e44ad !important;
}

.gradient3{
    color:#cfd4df;
    font-size: 1rem;
	background: linear-gradient(-45deg, #4caf50, #009688, #673ab7, #ff784e);
	background-size: 200% 200%;
	animation: gradient1 6s ease infinite;
	cursor: pointer;
}

.gradient3 .ant-table-cell-row-hover{
	background-color: #06a393 !important;
}
  
.gradient4{
    color:#cfd4df;
    font-size: 1rem;
	background: linear-gradient(-45deg, #f78fb3, #574b90, #f19066, #c44569);
	background-size: 200% 200%;
	animation: gradient1 6s ease infinite;
	cursor: pointer;
}

.gradient4 .ant-table-cell-row-hover{
	background-color: #574b90 !important;
}

.gradient5{
    color:#cfd4df;
    font-size: 1rem;
	background: linear-gradient(-45deg, #ff4d4d, #273c75, #17c0eb, #3ae374);
	background-size: 200% 200%;
	animation: gradient1 6s ease infinite;
	cursor: pointer;
}

.gradient4 .ant-table-cell-row-hover{
	background-color: #273c75 !important;
}

.color1{
    color:#cfd4df;
    font-size: 1rem;
	background-color: #3498db;
	cursor: pointer;
}

.color1 .ant-table-cell-row-hover{
	background-color: #66addb !important;
}


.color2{
	color:#cfd4df;
    font-size: 1rem;
	background-color: #9b59b6;
	cursor: pointer;
}

.color2 .ant-table-cell-row-hover{
	background-color: #c472e4 !important;
}


.color3{
	color:#cfd4df;
    font-size: 1rem;
	background-color: #e15f41;
	cursor: pointer;
}

.color3 .ant-table-cell-row-hover{
	background-color: #e08d7a !important;
}


.color4{
	color:#cfd4df;
    font-size: 1rem;
	background-color: #B33771;
	cursor: pointer;
}

.color4 .ant-table-cell-row-hover{
	background-color: #cc4b87 !important;
}



.color5{
	color:#cfd4df;
    font-size: 1rem;
	background-color: #08ac5f;
	cursor: pointer;
}

.color5 .ant-table-cell-row-hover{
	background-color: #1cd17d !important;
}

@keyframes gradient1 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.textLeaderboard{
	border: 3px solid rgb(66, 73, 97);
	background-color: #373a4e;
	width: 500px;
	height: 60px;
	display: flex;
	padding: 30px;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
	color: #cfd4df;
	border-radius: 20px;
}

.textLeaderboard h2{
color: rgb(29, 170, 206);
}